body {
    background-color: #282c34;
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    padding: 40px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Ez teszi kör alakúvá */
    border: 5px solid orange; /* Narancssárga szegély */
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.7); /* Egy kis ragyogás */
    margin-bottom: 20px;
}

h1 {
    color:orange;
}